/* Main */

body {
    /* background-color: #1e1e1e; */
    /* color: #ffffff; */
}

.navbar {
    
}

.nav-logo {
    margin: 0;
}

.nav-logo a:hover {
    color: var(--bs-white);
}

.page-title {
    /* color: #C5B358; */
}

.card-img-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.card-title {
    margin: 0;
}

.bg-primary {
    background-color: var(--bs-indigo) !important;
}

.bg-secondary {
    background-color: #5b656c !important;
}

.bg-dark-gray {
    background-color: #222222;
}

.bg-light-gray {
    background-color: #cccccc;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.btn:hover {
    text-decoration: none;
}

.flag-link {
    background-color: var(--bs-indigo);
    padding: 2px 4px;
}

.flag-link.selected,
.flag-link:hover {
    background-color: var(--bs-white);
}


/* Accordion theming */

.accordion-button {
    color: var(--bs-light);
}

.accordion-button:not(.collapsed) {
    color: var(--bs-teal);
    box-shadow: none;
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f8f9fa'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2320c997'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}


/* Item icon w/ amount */

.item-icon span {
    margin-left: -14px;
    font-size: 16px;
    padding: 1px 3px;
    background-color: transparent !important;
    text-shadow: 1px 1px 2px #000000, -1px -1px 2px #000000;
}


/* Villagers */

.villager-vanilla {
    background-color: var(--bs-green);
}

.villager-mods {
    background-color: var(--bs-red);
}


/* Equipments */

.equip-dmg-info {
    font-size: 24px;
}

.equip-tool {
    background-color: var(--bs-blue);
}

.equip-melee {
    background-color: var(--bs-red);
}

.equip-ranged {
    background-color: var(--bs-green);
}

.enchantment-link {
    color: var(--bs-white);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 2px;
    font-size: 12px;
}

.enchantment-utility {
    background-color: var(--bs-green);
}

.enchantment-tool {
    background-color: var(--bs-blue);
}

.enchantment-combat {
    background-color: var(--bs-red);
}

.enchantment-link:hover {
    color: var(--bs-teal);
}


/* Mods */

.mod-automation {
    background-color: red;
}

.mod-decoration {
    background-color: red;
}

.mod-combat {
    background-color: red;
}

.mod-tools {
    background-color: red;
}

.mod-tweaks {
    background-color: red;
}

.mod-world {
    background-color: red;
}

.btn-curse-forge {
    background-color: var(--bs-orange);
    color: var(--bs-white);
}

.btn-details {
    background-color: var(--bs-orange);
    color: var(--bs-white);
}

.btn-docs-site {
    background-color: var(--bs-orange);
    color: var(--bs-white);
}

.btn-curse-forge:hover {
    background-color: var(--bs-yellow);
}

.btn-details:hover {
    background-color: var(--bs-yellow);
}

.btn-docs-site:hover {
    background-color: var(--bs-yellow);
}